/* Service Section Responsive */
@media (min-width: 768px) {
    .service-content .item {
        width: 50%;
    }
}

@media (min-width: 992px) {
    .service-content .item {
        width: 33.33%;
    }
}




/* Single Page Responsive */

.single-thumbnail img {
    height: auto;
    width: 100%;
}

@media (min-width: 768px) {
    .left-container {
        width: 60% !important;
        margin-left: 20px !important;
    }

    .featured-icon {
        width: 10%;
        text-align: left;
        margin-bottom: 30px;
        margin-top: 30px;
        margin-right: 40px;
    }

    .faq-content {
        margin-top: -50px;
    }
    
    .fetured-item-content {
        width: 90%;
    }

    .faq-title h4 {
        font-size: 24px;
        font-weight: 700;
        border-bottom: 2px solid #F5F1ED;
    }
    
    .faq-item-content .item h4 {
        font-size: 20px !important;
        font-weight: 600;
    }

    .expart-img {
        width: 100%;
        height: auto;
    }

    /* right content */
    .right-container {
        width: 40% !important;
        margin-right: 20px;
    }
}


@media (max-width: 767px) {
    .main-content{
        flex-wrap: wrap;
    }

    .left-container {
        width: 100% !important;
        margin: 20px !important;
    }

    .fetured-item {
        flex-wrap: wrap;
        margin-top: 30px;
        padding-top: 30px;
    }

    .faq-item-content .item h4 {
        font-size: 20px;
        line-height: 1.5;
        font-weight: 700;
    }
    
    .featured-icon {
        width: 100%;
        height: auto;
        text-align: left;
        margin-bottom: 30px;
    }
    
    .faq-title h4 {
        font-size: 24px;
        font-weight: 700;
        border-bottom: 2px solid #F5F1ED;
    }
    
    .faq-content {
        width: 100%;
        height: auto;
    }
    
    .expart-img {
        width: 100%;
        height: auto;
    }
    
    .expart-therapy-content h4 {
        font-size: 24px;
        font-weight: 700;
        border-bottom: 2px solid #F5F1ED;
    }

    .featured-content h4 {
        font-size: 15px;
        font-weight: 900;
    }


    /* right contet css */
    .right-container {
        width: 100% !important;
        margin: 20px !important;
    }
}
