@media (min-width: 320px){
    /* .service-content.container {
        flex-direction: column;
    } */
    
    /* .service-content .item {
        width: 100%;
    }

    .image-overlay {
        overflow: hidden;
    } */
    
    /* .image-overlay img {
        width: 100%;
        height: 100%;
    } */
}

